html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
input,
ol,
li {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary:  #884e55;
  --color-light: #FFF;
  --color-blue-75: rgba(27, 81, 131, 0.75);

  --spacing-medium-small: 12px;

	--font-size-lg: 18px;
	--font-size-xl: 24px;
  --font-size-xxl: 40px;
}

body {
  min-height: 100vh;
  font: normal 1rem/1.5 "Source Sans Pro", sans-serif;
  min-height: 100vh;
}

.h1 {
  text-align: center;
  font-size: var(--font-size-xxl);
}

.app {

  height: 100%;
  min-width: 360px;
  min-height: 100vh;

  margin: auto;
  display: flex;
  flex-direction: column;
  height: 1px;

  background-image: url("/images/odqp1pwqzuf98bdq2j5fkqtrp2p5f8zf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  height: 12rem;
  max-height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-75);
  color: var(--color-light);
}

main {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.download-btn {
  display: flex;
  width: 20rem;
  padding: 2rem;
  color: var(--color-light);
  font-weight: 700;
  background-color: var(--color-primary);
  text-decoration: none;
  font-size: var(--font-size-lg);
  text-align: center;
}
